.resume-row {
    display: flex;
    font-size: 1rem;
    color: #6FA2A5;
    transition: color 0.2s ease-in-out;
    align-items: center;
    margin: 0;
    padding: 0;
}
.resume-row:hover {
    color: #427375;
    cursor: pointer;
}
.resume-row > * {
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}