.portfolio-detail-content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 1.25rem;
}
.back-text {
  color: #6fa2a5;
}
.back-text:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .portfolio-detail-content {
    padding: 3rem 3rem;
  }
}
.header-row {
  display: flex;
  justify-content: space-between;
}

.fullView {
  background-color: #fff;
  display: relative;
  width: 40vw;
  min-width: min(700px, 100vw);
  max-height: 100vh;
  z-index: 99;
  overflow-y: scroll;
}
