.laptop {
    width: 90%;
}
.desktop {
    width: 100%;
}
.tablet {
    width: 70%;
}
.phone {
    width: 30%;
    min-width: 175px;
}
.portfolioItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}